/* Sections of the page*/
.information_section{
    width: 55%;
    height: 100%;
}
.animation{
    width: 35%;
    height: 100%;
    margin-top: 5%;
}

/* .animated_code_text{
    visibility: hidden;
} */

.comment_container{
    display: flex;
    flex-direction: column;
}

.code_container{
    padding: 10px;
}

.comment{
    overflow: hidden;
    white-space: nowrap;
}
#personal_projects_list{
    max-height: 500px;
    overflow-y: auto;
}
#personal_projects_list::-webkit-scrollbar {
    display: none;
}



#main_skillDivDiv{
    padding: 4px;
}
#languageDiv{
    padding: 4px;
}

#certifications_list {
    max-height: 150px;
    overflow-y: auto;
}
#certifications_list::-webkit-scrollbar {
    display: none;
}
#certificacionDiv{
    padding: 4px;
}

body {
    --black: #232323;
    --white: #f0f1f2;
    --grey: #898989;
    --purple: #b462ff;
    --fuschia: #ff45b4;
    --blue: #18b6ff;
    --green: #1beb9e;
    --orange: #ff9528;
    --yellow: #dddd25;
    --line: 2.5ch;
    --font: 'Courier New', Courier, monospace;
}
body.invert {
    --black: #f0f1f2;
    --white: #232323;
    --grey: #7e7e7e;
    --purple: #6b1fa3;
    --fuschia: #f50777;
    --blue: #0b8cff;
    --green: #00a76c;
    --orange: #dd7200;
    --yellow: #949700;
}
body{
    display: flex;
    flex-direction: row;
    user-select: none;
    background-color: var(--black);
    font-family: var(--font);
}

/* Title styles*/
a{
    text-decoration: none;
}
h1{
    font-weight: lighter;
    font-size: 7vh; 
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h3{
    font-weight: lighter;
    font-size: 2vh;
    padding-top: 0px;
    margin-top: 0px;
}

.code_text{
    font-size: 2vh;
}

/* Navegation Menu styles*/
.navigation{
    padding-left: 5%;
}
.navigation_menu{
    display: flex;
    flex-direction: column;
}
.nav_button{
    cursor: pointer;
    border: none;
    border-color: var(--black);
    background-color: var(--black);
    font-size: 2vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav_button.blue:hover{
    background-color: var(--blue);
    color: var(--black);  
}
.nav_button.yellow:hover{
    background-color: var(--yellow);
    color: var(--black);  
}
.nav_button.green:hover{
    background-color: var(--green);
    color: var(--black);  
}
.nav_button.purple:hover{
    background-color: var(--purple);
    color: var(--black);  
}
.nav_button.orange:hover{
    color: var(--black);  
    background-color: var(--orange);
}

/* Colored Elements styles*/
.black{
    color: var(--black);
}
.white{
    color: var(--white);
}
.grey{
    color: var(--grey);
}
.purple{
    color: var(--purple);
}
.fuschia{
    color: var(--fuschia);
}
.blue{
    color: var(--blue);   
}
.green{
    color: var(--green);
}
.orange{
    color: var(--orange);
}
.yellow{
    color: var(--yellow);
}

/* Identation Level Styles*/
.first_identation{
    padding-left: 2%;
}
.second_identation{
    padding-left: 4%;
}
.third_identation{
    padding-left: 6%;
}
